.NoUnderLine{
    text-decoration: none;
}#Secondary-Navi-Main  {
    display: flex;
}
#Secondary-Navi-Main >#Secondary-Navigation{
    margin: auto;
    line-height: 300%;
    display: grid
  
}#Logo{
    width: 50%;
}#primary-secondary{
    display: grid;
}




table,
td,
th {
  text-align: left;
}

table {
  border-collapse: collapse;
  width: 57%;
  margin: auto;
  margin-top: 50px;
}th{
    border: none;

}td{
    border: none;
}

th,
td {
  padding: 15px;
}

tr > th {
  background-color: #f1f1f1;
  color: black;
}